.navigation-menu {

    display: flex;
    padding: 0;
    margin: 0 auto;
    width: 65%;
    justify-content: space-between;
}

.menu-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;

}


.color {
    color: #FF0000;
    text-transform: uppercase;

}


.navigation {
    display: inline-block;
    width: 100%;
    padding: 26px 0;
}

.background-image {
    width: 100%;
    margin-bottom: 50px;

}

.body {
    margin: 0
}

.text-title {
    text-align: center;
    color: #373737;
    font-weight: 700;
    font-size: 22px;
}

.text {
    text-align: center;
    color: #373737;
}

.button-color {
    margin: auto;
    margin-top: 66px;
    background-color: #FF0000;
    width: 191px;
    height: 51px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 12px;


}

.text-color {
    color: #FFFFFF;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 43px;
    padding-right: 44px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    width: 105px;
    height: 16px;
    font-weight: 700;
    font-size: 12px;


}

.footer-text {


}

.footer-position {
    /*width: 465px;*/
    /*height: 40px;*/
    /*display: flex;*/
    /*justify-content: right;*/
    /*margin-left: auto;*/
    /*margin-top: 40px;*/
    /*margin-bottom: 29px;*/
    /*font-weight: 700;*/
    /*font-size: 16px;*/
    /*line-height: 20px;*/
    /*margin-right: 105px;*/
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;


}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

.text-wrapper {
    padding: 0 15px;
}

